<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daftar Hadir Tamu</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <style>
      .footer {
        background-color: #212529;
        color: white;
        text-align: center;
        padding: 20px 0;
        position: fixed;
        width: 100%;
        bottom: 0;
      }
      .footer .form-control {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <!-- Footer -->
    <footer class="footer mt-auto py-3">
      <div class="container">
        <form class="row g-3 justify-content-center">
          <div class="col-auto">
            <label for="inputFeedback" class="visually-hidden"
              >Masukan Kritik dan Saran</label
            >
            <textarea
              class="form-control"
              id="inputFeedback"
              placeholder="Berikan Kritik dan Saran"
              rows="1"
            ></textarea>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3 text-white">
              Kirim
            </button>
          </div>
        </form>
        <div class="text-center mt-3">
          <span
            >&copy; Copyright by DIGI-CONSELING-PMI. All rights reserved.</span
          >
        </div>
      </div>
    </footer>

    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js.map"></script>
  </body>
</html>
