body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(255, 248, 239);
}
/* navbar */
.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
/*  */
/* hero section */

.chat-container {
  width: 50%;
  height: 400px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.chat-box {
  padding: 20px;
  height: 398px;
  overflow-y: auto;
}

.options {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.option {
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.option:hover {
  background-color: #0056b3;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.user-message {
  background-color: #d1ecf1;
  align-self: flex-end;
}

.bot-message {
  background-color: #e2e3e5;
  align-self: flex-start;
}

.float-right {
  float: right;
  clear: both;
}

.float-left {
  float: left;
  clear: both;
}

#footer-placeholder {
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 768px) {
  
  .chat-container {
    width: 80%;
  }
}
