<footer class="bg-dark pt-2 pb-4 mt-5" id="footer-placeholder">
  <div class="container text-light text-center">
    <p class="display-5 mb-3">DIGI-CONSELING-PMI</p>
    <div
      class="feedback-form-container"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      "
    >
      <form>
        <textarea
          name="feedback"
          class="form-control mb-2"
          placeholder="Tulis kritik dan saran Anda di sini..."
          rows="2"
          style="width: 300px"
        ></textarea>
        <button type="submit" class="btn btn-light">Kirim Saran</button>
      </form>
    </div>
    <small class="text-white-50"
      >&copy;Copyright by -. All rights reserved.</small
    >
  </div>
</footer>
